
<div class="row">
  <h2>Visits:</h2>
</div>




<div class="row" *ngIf="history && history.length > 0">
    <mat-list #date>
      <mat-list-item *ngFor="let visit of history">
        {{visit.visitDate | date:'medium'}} - {{visit.doctorName + ' '+ visit.doctorLastName}},
        <strong class="text-muted"> {{visit.divisionName}}</strong>
      </mat-list-item>
    </mat-list>
</div>

<div class="row"  *ngIf="!history || history.length == 0">
  <p>No visits</p>
</div>

<div class="row">
  <div class="col-md-auto">
    <button (click)="onBackClick()" class="btn btn-dark">Back</button>
  </div>
</div>
