
<div class="row">
  <h2>Referrals:</h2>
</div>




<div class="row" *ngIf="referrals && referrals.length > 0">
  <mat-list #date>
    <mat-list-item *ngFor="let referral of referrals">
      {{referral.dateFrom | date}} - {{referral.dateTo | date}}

       {{', ' + referral.doctorName+ ' ' + referral.doctorLastName + ' - '}}
      <strong class="text-muted"> {{referral.divisionName}}</strong>
      <p class="mt-sm-3">
        <mat-checkbox disabled="true" class="big-checkbox"
                      [checked]="referral.isUsed">
        </mat-checkbox>
        <span class="ml-1"> used </span>
      </p>
    </mat-list-item>
  </mat-list>
</div>

<div class="row"  *ngIf="!referrals || referrals.length == 0">
  <p>No referrals</p>
</div>

<div class="row">
  <div class="col-md-auto">
    <button (click)="onBackClick()" class="btn btn-dark">Back</button>
  </div>
</div>
