<div class="row">
  <div class="col-8">

    <form [formGroup]="patientForm" (ngSubmit)="onUpdate()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name"><strong>Name:</strong></label>
          <input type="text"
                 class="form-control"
                 id="name"
                 placeholder="Jan.."
                 formControlName="name">
        </div>
        <div class="form-group col-md-4">
          <label for="lastName"><strong>Last name:</strong></label>
          <input type="text"
                 class="form-control"
                 id="lastName"
                 placeholder="Kowalski.."
                 formControlName="lastName">
        </div>
        <div class="form-group col-md-4">
          <label for="pesel"><strong>PESEL:</strong></label>
          <input type="text"
                 class="form-control"
                 id="pesel"
                 formControlName="pesel">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group  col-md-6">
          <label for="birthday"><strong>Birth:</strong></label>
          <input type="date"
                 class="form-control"
                 id="birthday"
                 formControlName="birthday">
        </div>
        <div class=" form-group  col-md-6">
          <mat-radio-group formControlName="sex" aria-label="Sex:">
            <mat-radio-button value="MALE" >Male</mat-radio-button>
            <mat-radio-button value="FEMALE" >Female</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group  col-md-6">
          <label for="email"><strong>Email:</strong></label>
          <input type="email"
                 class="form-control"
                 id="email"
                 placeholder="jan.kowalski@gmail.com"
                 formControlName="email">
        </div>
        <div class="form-group  col-md-6">
          <label for="phone"><strong>Phone:</strong></label>
          <input type="text"
                 class="form-control"
                 id="phone"
                 placeholder="+48.."
                 formControlName="phone">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group  col-md-6">
          <label for="insurance"><strong>Insurance:</strong></label>
          <input type="text"
                 class="form-control"
                 id="insurance"
                 placeholder="PZU"
                 formControlName="insurance">
        </div>

        <div class="form-group  col-md-6">
          <label for="since"><strong>Since:</strong></label>
          <input type="date"
                 class="form-control"
                 id="since"
                 formControlName="since">
        </div>

      </div>

      <div class="row">
        <div class="form-group col-md-6 offset-md-6 ">
          <div class="form-check">
            <mat-checkbox class="form-check-input big-checkbox"
                          id="isVIP"
                          formControlName="isVIP">
            </mat-checkbox>
            <label class="form-check-label big-checkbox-label" for="isVIP">
              <strong>VIP</strong>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-auto offset-md-7 mt-2">
          <button (click)="onBackClick()"
                  class="btn btn-dark mx-1"
          >Back
          </button>
          <button type="submit"
                  class="btn btn-primary mx-1"
                  [disabled]="!patientForm.valid"
          >Update
          </button>
        </div>
      </div>

    </form>

  </div>
</div>



