<div class="container">
  <div class="row  my-md-1">
    <div class="col-md-5">
      <h3><strong>Name:</strong> {{selectedPatient.name}} {{selectedPatient.lastName}}</h3>
    </div>
    <div class="col-md-7">
      <h3><strong>PESEL:</strong> {{selectedPatient.pesel}}</h3>
    </div>
  </div>

  <div class="row  my-md-1">
    <div class="col-sm-5">
      <h3><strong>Birth:</strong> {{selectedPatient.birthday | date}}</h3>
    </div>
    <div class="col-sm-7">
      <h3><strong>Sex:</strong> {{beautifySex(selectedPatient.gender)}}</h3>
    </div>
  </div>

  <div class="row  my-md-1">
    <div class="col-sm-5">
      <h3><strong>Email:</strong> {{selectedPatient.email}}</h3>
    </div>
    <div class="col-sm-7">
      <h3><strong>Phone:</strong> {{selectedPatient.phone}}</h3>
    </div>
  </div>

  <div class="row  my-md-1">
    <div class="col-sm-5">
      <h3><strong>Insurance:</strong> {{selectedPatient.insuranceProvider}}</h3>
    </div>
    <div class="col-sm-7">
      <h3><strong>Since:</strong> {{selectedPatient.clientSince | date}}</h3>

    </div>
  </div>
  <h3>
    <strong class="mr-1">VIP: </strong>
    <strong>
      <mat-checkbox disabled="true" class="big-checkbox"
                    [checked]="selectedPatient.vip">
      </mat-checkbox>
    </strong>
  </h3>


  <div class="row">
    <div class="col-sm-auto">
      <button class="btn"
              (click)="onEditPatient()"
              style="background-color:transparent">
        <i class="material-icons shortcut">create</i>
        <span>Edit</span>
      </button>
      <button class="btn"
              (click)="onHistory()"
              style="background-color:transparent">
        <i class="material-icons shortcut ">history</i>
        <span>History</span>
      </button>
      <button class="btn"
              (click)="onReferral()"
              style="background-color:transparent">
        <i class="material-icons mat-icon-no-color shortcut ">info</i>
        <span>Referrals</span>
      </button>
    </div>
  </div>

  <div class="container col-md-2 offset-md-7">
    <button class="btn btn-primary my-2" *ngIf="selectedPatient" (click)="onNext()">Next</button>
  </div>

</div>


